.page-wrapper {
	height: auto !important;
}

.page-content {
	height: 1400px !important; 
}

#next-slide, #back-slide {
	display: none;
}

.btn-blue {
	background: #3888e9 !important;
}

.slide-form {
	height: 800px;
}

.slide-form .input-append .add-on.btn-group .dropdown-toggle {
	padding-top: 13px;
	box-shadow: none;
}

.slide-form li {
	display: block !important;
	opacity: 1 !important;
	min-height: 300px !important;
	height: 300px !important;
}

.slide-form .step-body {
	min-height: 300px !important;
	height: 300px !important;
}

.slide-form input[type="text"] {
	border: 1px solid #738180;
	box-shadow: none;
}